<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StockManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B58479651CA8D3F700C30FC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B584797E1CA8D3F700C30FC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B58479891CA8D3F700C30FC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
